@font-face {
    font-family: HARRYP__;
    src: url(../fonts/HARRYP__.TTF);
}

@font-face {
    font-family: Felt Tip Roman;
    src: url(../fonts/Felt\ Tip\ Roman.ttf);
}

.telapersonagem{
    background-image: url(../images/castelo.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.titulopersonagem{
    color: azure;
    font-family: HARRYP__;
    font-size: 90px;
    margin: 2.5% auto;
    text-align: center;
}

.opcoes{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.opcoes a{
    background-color: black;
    border-radius: 10px;
    border: 6px solid rgb(29, 11, 190);
    border-style: double;
    cursor: none;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: auto;
    text-align: center;
    width: 28%;
    transition: 1s;
}

.opcoes a:hover{
    background-color:rgb(29, 11, 190);
    cursor:url(../images/cursor.png), auto;
    transform: scale(1.05);
}

.opcoes a h2{
    color: azure;
    font-size: 35px;
    margin:3% auto;
}

a img {
    width: 170px;
    height: 170px;
}

.descricao {
    color: azure;
    padding: 3%;
    font-size: 23px;
}



