/* ESCOLHAS DE DOBBY*/
@font-face {
    font-family: HARRYP__;
    src: url(../fonts/HARRYP__.TTF);
}

@font-face {
    font-family: Felt Tip Roman;
    src: url(../fonts/Felt\ Tip\ Roman.ttf);
}

body{
    background-image: url(../images/salaoprincipal.jpg);
    background-size: cover;
    height: 94vh;
    width: 97vw;
}

header{
    margin-top: 35px;
    margin-bottom: 35px;
}

h1{
    color: azure;
    display: flex;
    font-family: HARRYP__;
    font-size: 90px;
    justify-content: center;
}

.salaoprincipal{
    background-color:black; 
    border-radius: 10px;
    border:6px solid rgb(29, 11, 190);
    border-style: double;
    color: azure;
    display: flex;
    flex-wrap: wrap;
    font-family: Felt Tip Roman;
    font-size: 25px;
    height: 60%;
    justify-content: center;
    margin: auto;
    padding: 30px;
    text-align: justify;
    width: 60%; 
}

#falashelena, #acaodobby, #chegarnasalaprecisa {
    color: rgb(29, 11, 190);
    font-weight: 700;
    padding-top: 15px;
}

button {
    background-color:rgb(29, 11, 190);
    border-radius: 10px;
    border: none;
    cursor:none;
    font-family: Felt Tip Roman;
    font-size: 25px;
    font-weight: 700;
    height: 50px;
    margin-top: 35px;
    outline-offset: 3px;
    outline: 2px solid rgb(29, 11, 190);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    transition: 1s;
}

button:hover{
    transform: scale(1.1);
    background-color: rgb(8, 2, 90);
}

button a{
    cursor: none;
    text-decoration-line: none;
    color:azure;
}

button a:hover{
    cursor:url(../images/cursor.png), auto;
}
