@font-face {
    font-family: HARRYP__;
    src: url(../fonts/HARRYP__.TTF);
}

body{
    background-size: cover;
    height: 94vh;
    width: 97vw;
}

/* ----- BG DOS GAME OVERS E DO DOBBYWIN -----*/
.final1 {
    background-image: url(../images/floresta.jpg);
}

.final2 {
    background-image: url(../images/dobbyautoflagelo.png);
}

.final3 {
    background-image: url(../images/portasalaprecisa.jpg);
}

.winner {
    background-image: url(../images/salaprecisa.jpg);
}
/*-------------------------------------------------------------*/

header{
    margin: 50px auto;
}

h1{
    color: azure;
    display: flex;
    font-family: HARRYP__;
    font-size: 90px;
    justify-content: center;
}

.mensagemfinal1{
    align-items: center;
    background-color:black; 
    border-radius: 10px;
    border:6px solid rgb(29, 11, 190);
    border-style: double;
    color: azure;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    height: 60%;
    justify-content: center;
    margin: auto;
    padding: 30px;
    text-align: justify;
    width: 60%; 
}

#accio{
    color: rgb(29, 11, 190);
    font-size: 25px;
    font-weight: 700;
    padding-top: 15px;
}

button {
    background-color:rgb(29, 11, 190);
    border-radius: 10px;
    border: none;
    cursor:none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: 700;
    height: 50px;
    margin-top: 35px;
    outline-offset: 3px;
    outline: 2px solid rgb(29, 11, 190);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    transition: 1s;
    width: 20%;
}

button:hover{
    transform: scale(1.1);
    background-color: rgb(8, 2, 90);
}

button a{
    cursor: none;
    text-decoration-line: none;
    color:azure;
}

button a:hover{
    cursor:url(../images/cursor.png), auto;
}
