@font-face {
    font-family: HARRYP__;
    src: url(../fonts/HARRYP__.TTF);
}

@font-face {
    font-family: Felt Tip Roman;
    src: url(../fonts/Felt\ Tip\ Roman.ttf);
}

body.tela {
    background-image: url(../images/tela.gif);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.tituloDoJogo {
    color: azure;
    display: flex;
    font-family: HARRYP__;
    font-size: 90px;
    justify-content: center; 
    margin: 3% auto;   
}

div.introducao {
    background-color:black; 
    border:6px solid rgb(29, 11, 190);
    border-style: double;
    border-radius: 10px;
    color: azure;
    display: fit-content;
    flex-direction: column;
    height: auto;
    margin: auto;
    padding: 2%;
    width: 60%;
    font-family: Felt Tip Roman;
}

#apresentacao{
    font-size: 25px;
    text-align: justify;
}

#alohomora {
    color: rgb(29, 11, 190);
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    padding-top: 1%;
}

#choosecharacter {
    background-color:rgb(29, 11, 190);
    border-radius: 10px;
    border: none;
    display: fit-content;
    cursor:none;
    font-family: Felt Tip Roman;
    font-size: 25px;
    font-weight: 700;
    height: auto;
    outline-offset: 3px;
    outline: 2px solid rgb(29, 11, 190);
    padding: 1%;
    text-decoration: none;
    transition: 1s;
    width: 30%;
    margin: 3% 35% 1%;
}

#choosecharacter:hover{
    transform: scale(1.1);
    background-color: rgb(8, 2, 90);
}

#choosecharacter a{
    cursor: none;
    text-decoration-line: none;
    color:azure;
}

#choosecharacter a:hover{
    cursor:url(../images/cursor.png), auto;
}

footer {
    color: azure;
    display: fit-content;
    width: 100%;
    position: relative;
    font-family: Felt Tip Roman;
    font-size: 20px;
    margin-top: 10%;
}

.copyright{
    text-align: center;
}

