@font-face {
    font-family: HARRYP__;
    src: url(../fonts/HARRYP__.TTF);
}

body.tela {
    background-image: url(../images/tela.gif);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.tituloDoJogo {
    color: azure;
    display: flex;
    font-family: HARRYP__;
    font-size: 90px;
    justify-content: center; 
    margin: 3% auto;   
}

div.introducao {
    background-color:black; 
    border:5px solid rgb(29, 11, 190);
    border-style: double;
    border-radius: 10px;
    color: azure;
    display: fit-content;
    flex-direction: column;
    height: auto;
    margin: auto;
    padding: 2%;
    width: 53%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#apresentacao{
    font-size: 23px;
    text-align: justify;
}

#alohomora {
    color: rgb(29, 11, 190);
    font-size: 24px;
    text-align: center;
    padding-top: 1%;
}

#play {
    background-color:rgb(29, 11, 190);
    border-radius: 10px;
    border: none;
    display: fit-content;
    cursor:none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    height: auto;
    outline-offset: 3px;
    outline: 2px solid rgb(29, 11, 190);
    padding: 1%;
    text-decoration: none;
    transition: 1s;
    width: 15%;
    margin: 2% 42% 0 ;
}

#play:hover{
    transform: scale(1.1);
    background-color: rgb(8, 2, 90);
}

#play a{
    cursor: none;
    text-decoration-line: none;
    color:azure;
}

#play a:hover{
    cursor:url(../images/cursor.png), auto;
}

footer {
    color: azure;
    display: fit-content;
    width: 100%;
    position:relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-top: 12%;
}

.copyright{
    text-align: center;
}

/*Responsividade*/
@media screen and (max-width:1100px){
    #play {
        font-size:21px;
    }
}

@media screen and (max-width:1000px){
    #play {
        font-size:19px;
    }
}
