@font-face {
    font-family: HARRYP__;
    src: url(HARRYP__.TTF);
}

@font-face {
    font-family: Felt Tip Roman;
    src: url(Felt\ Tip\ Roman.ttf);
}

.personagem{
    background-image: url(images/chooseadventure.gif);
    background-size: cover;
    cursor:url(images/cursor.png), auto;
    height: 46rem;
    border: solid 2px red;
    margin: 0px;
}

.titulopersonagem{
    color: azure;
    margin-top: 15px;
    font-size: 90px;
    text-align: center;
    font-family: HARRYP__;
}

.personagens{
    display: flex;
    justify-content: center;

}

.personagens a{
    display: inline-block;
    text-align: center;
    font-family: Felt Tip Roman;
    align-items: center;
    width: 30%;
    margin:40px 25px;
    background-color: black;
    border: 6px solid rgb(233, 126, 39);
    border-radius: 10px;
    border-style: double;
}

.personagens a:hover{
    cursor: pointer;
    background-color: grey;
    transform: scale(1.05, 1.05);
}

.personagens a h2{
    color: azure;
    font-size: 35px;
    margin:15px 0 15px 0;
   
}a img {
    width: 230px;
    height: 230px;
}

.descricao {
    color: azure;
    margin: 15px 0 15px 0;
    font-size: 20px;
}



