@font-face {
    font-family: HARRYP__;
    src: url(HARRYP__.TTF);
}

@font-face {
    font-family: Felt Tip Roman;
    src: url(Felt\ Tip\ Roman.ttf);
}

  body {
    background-image: url(tela.gif);
    background-size: cover;
    cursor:url(images/cursor.png), auto;
    height: 100%;
    margin: 0px;
}

.tituloDoJogo {
    align-items: center;
    color: azure;
    display: flex;
    font-family: HARRYP__;
    font-size: 90px;
    justify-content: center;
    margin: 35px auto;
}

.introducao {
    background-color:black; 
    border-radius: 10px;
    border:6px solid rgb(233, 126, 39);
    border-style: double;
    color: azure;
    display: flex;
    flex-wrap: wrap;
    font-family: Felt Tip Roman;
    font-size: 25px;
    height: 60%;
    justify-content: center;
    margin: auto;
    padding: 30px;
    text-align: justify;
    width: 60%;  
}

.alohomora {
    color: rgb(233, 126, 39);
    font-weight: 700;
    padding-top: 15px;
}

button {
    background-color:rgb(233, 126, 39);
    border-radius: 8px;
    border: none;
    cursor:none;
    font-family: Felt Tip Roman;
    font-size: 25px;
    font-weight: 700;
    height: 50px;
    margin-top: 35px;
    outline-offset: 3px;
    outline: 2px solid rgb(253, 115, 2);
    outline: none;
    padding: 10px;
    text-decoration: none;
    transition: 1s;
}

button:hover{
    transform: scale(1.1);
}

button a{
    cursor: none;
    text-decoration-line: none;
    color:azure;
}

button a:hover{
    cursor:url(images/cursor.png), auto;
}

footer {
    color: azure;
    display: flex;
    justify-content: center;
    margin-top: 160px;
    font-family: Felt Tip Roman;
    font-size: 20px;
}

