/* CSS exclusivo para as escolhas dos personagens*/
/* ESCOLHAS DE DOBBY*/

body{
    background-image: url(escadas.jpg);
    background-size: cover;
}
    h1{
    font-size: 50px;
    color:azure;
    margin: 40px auto;
    text-align: center;
}

.jornada{
    font-size: 30px;
    color:azure;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    height: 60%;
    text-align: center;
    margin: auto;
    padding: 8px;
    border: 1px solid azure;
    border-radius: 8px;
}

button {
    margin-top: 20px;
    height: 40px;
    font-size: 25px;
    background-color: black;
    color: azure;
}




/* ESCOLHAS DE LUNA LOVEGOOD*/


/* ESCOLHAS DE SIRIUS BLACK*/
